<a href="https://colab.research.google.com/github/2403A51L02/2403A51L02_B-51_PDS/blob/main/Lab_5_merge_two_datasets_aggregrate_statistics_using_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

students = pd.DataFrame({
    'student_id': [1, 2, 3, 4, 5],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'class': ['A', 'A', 'B', 'B', 'C']
})

scores = pd.DataFrame({
    'student_id': [1, 2, 2, 3, 5, 6],
    'subject': ['Math', 'Math', 'Science', 'Math', 'Science', 'Math'],
    'score': [85, 78, 82, 90, 88, 75]
})

print("Students Dataset:\n", students, "\n")
print("Scores Dataset:\n", scores, "\n")

inner_merge = pd.merge(students, scores, on="student_id", how="inner")
left_merge = pd.merge(students, scores, on="student_id", how="left")
right_merge = pd.merge(students, scores, on="student_id", how="right")

print("Inner Join:\n", inner_merge, "\n")
print("Left Join:\n", left_merge, "\n")
print("Right Join:\n", right_merge, "\n")

print("Overall Mean Score:", inner_merge['score'].mean())
print("Overall Max Score:", inner_merge['score'].max())
print("Overall Min Score:", inner_merge['score'].min())
print("Number of Scores:", inner_merge['score'].count(), "\n")

class_stats = inner_merge.groupby("class")['score'].agg(['mean', 'max', 'min', 'count'])
print("Class-wise Statistics:\n", class_stats, "\n")

subject_stats = inner_merge.groupby("subject")['score'].agg(['mean', 'max', 'min', 'count'])
print("Subject-wise Statistics:\n", subject_stats, "\n")

Students Dataset:
    student_id     name class
0           1    Alice     A
1           2      Bob     A
2           3  Charlie     B
3           4    David     B
4           5      Eva     C

Scores Dataset:
    student_id  subject  score
0           1     Math     85
1           2     Math     78
2           2  Science     82
3           3     Math     90
4           5  Science     88
5           6     Math     75

Inner Join:
    student_id     name class  subject  score
0           1    Alice     A     Math     85
1           2      Bob     A     Math     78
2           2      Bob     A  Science     82
3           3  Charlie     B     Math     90
4           5      Eva     C  Science     88

Left Join:
    student_id     name class  subject  score
0           1    Alice     A     Math   85.0
1           2      Bob     A     Math   78.0
2           2      Bob     A  Science   82.0
3           3  Charlie     B     Math   90.0
4           4    David     B      NaN    NaN
5           5      Eva     C  Science   88.0

Right Join:
    student_id     name class  subject  score
0           1    Alice     A     Math     85
1           2      Bob     A     Math     78
2           2      Bob     A  Science     82
3           3  Charlie     B     Math     90
4           5      Eva     C  Science     88
5           6      NaN   NaN     Math     75

Overall Mean Score: 84.6
Overall Max Score: 90
Overall Min Score: 78
Number of Scores: 5

Class-wise Statistics:
             mean  max  min  count
class
A      81.666667   85   78      3
B      90.000000   90   90      1
C      88.000000   88   88      1

Subject-wise Statistics:
               mean  max  min  count
subject
Math     84.333333   90   78      3
Science  85.000000   88   82      2